<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <title>餐桌管理</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{commons/commons::navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='account.html')}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form method="post" th:action="@{/admin/modifyAccount}">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <div class="form-group">
                    <label for="usrname">用户名</label>
                    <input type="text" name="usr" class="form-control" id="usrname" th:value="${user.getUsr()}" required="required">
                </div>
                <div class="form-group">
                    <label for="name">真实姓名</label>
                    <input type="text" name="name" class="form-control" id="name" th:value="${user.getName()}" required="required">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" name="pwd" class="form-control" id="password" required="required">
                </div>
                <div class="form-group">
                    <label for="telephone">电话</label>
                    <input type="text" name="tel" class="form-control" id="telephone" th:value="${user.getTel()}" required="required">
                </div>
                <button type="submit" class="btn btn-default">确认修改</button>
            </form>

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/css/bootstrap.min.css}"></script>

</body>
</html>