<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  </head>

  <body>

    <div th:replace="~{commons/commons::navbar}"></div>

    <div class="container-fluid">
      <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='main.html')}"></div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
    <script th:src="@{/js/vendor/popper.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.css}"></script>
  </body>
</html>
