<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <title>菜品管理</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/dishmanage.css}" rel="stylesheet">
</head>
<body>
<div class="sidebar-sticky" th:replace="~{commons/commons::sidebar}" >
</div>
<div th:replace="~{commons/commons::navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='dishManage.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">菜品维护</h1>
                <div class="btn-toolbar mb-2 mb-md-0" >
                    <button ><a class="mybtn" th:href="@{/admin/toCreateDish}">新增菜品</a></button>
                </div>
            </div>
            <div id="main" >
                <ul class="nav flex-column dish_type " th:each="type:${types}">
                    <li class="nav-item " >
                        <a th:href="@{'/admin/queryDish?typeId='+${type.getId()}}" th:text="${type.getName()}"></a>
                    </li>
                </ul>
                <ul class="box"  th:each="d:${dishByType}">
                    <li><div class="dish_picture">picture1</div><div class ="dish_name" th:text="${d.getName()}"></div><div class="dish_op"><button class="mybtn">修改</button><button class="mybtn">删除</button></div></li>
                </ul>
            </div >
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/css/bootstrap.min.css}"></script>
</body>
</html>
