<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <title>活账单</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{commons/commons::navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='main.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">账单管理</h1>
                <a th:href="@{/admin/toHistoryBill}">查看历史账单</a>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>
            <div class="bodyContent" align="center">
                <a th:href="@{/admin/tohistoryBill}">查看历史账单</a>
                <table  id="show">
                    <tr>
                        <th>编号</th>
                        <th>总价(￥)</th>
                        <th>下单时间</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="order:${livingBill}">
                        <td th:text="${order.getId()}"></td>
                        <td th:text="${order.getRealPrice()}"></td>
                        <td th:text="${order.getSettleTime()}"></td>
                        <td th:text="${order.getComment()}"></td>
                        <td><button>结账</button></td>
                    </tr>
                </table>
            </div>

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/css/bootstrap.min.css}"></script>

</body>
</html>
