<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <title>餐桌管理</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{commons/commons::navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='table.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">餐桌管理</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>
            <div class="bodyContent" align="center">
                <table id="show" th:each="table:${tables}">
                    <tr>
                        <th>编号</th>
                        <th>餐桌名称</th>
                        <th>最大用餐人数</th>
                        <th>最低消费</th>
                        <th>状态</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td th:text="${table.getId()}"></td>
                        <td th:text="${table.getName()}"></td>
                        <td th:text="${table.getMaxNum() + '人'}"></td>
                        <td th:text="${table.getLeastCost() + '元'}"></td>
                        <td th:text="${table.getState()==1?'使用中':'空闲'}"></td>
                        <td th:text="${table.getComment()}"></td>
                        <td><button><a  class="mybtn" th:href="@{/admin/deleteTable/}+${table.getId()}">删除</a></button></td>
                    </tr>
                </table>
                <button><a class="mybtn" th:href="@{/admin/toAddTable}">新增</a></button>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/css/bootstrap.min.css}"></script>

</body>
</html>
