<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>commons</title>
    <link th:href="@{/css/dishmanage.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>

<!--导航栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="navbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">[[${session.curUser}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/logout}">登出</a>
        </li>
    </ul>
</nav>

<!--侧边栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky" >
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${active=='main.html'?'nav-link active':'nav-link'}" th:href="@{/main.html}">
                    <span data-feather="home"></span>
                    管理首页 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='history_bill.html'?'nav-link active':'nav-link'}" th:href="@{/admin/toHistoryBill}">
                    账单管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:class="${active=='dishManage.html'?'nav-link active':'nav-link'}" th:href="@{/admin/DishType}">
                    菜品管理
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='list.html'?'nav-link active':'nav-link'}" th:href="@{/emps}">
                    厨房管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    餐桌状态
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    账号管理
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="col-md-2 d-none d-md-block bg-light sidebar" >
    <div class="sidebar-sticky" >
        <ul class="nav flex-column"  th:fragment="second_sidebar" style="float:left;width: 100px">
            <li class="nav-item">
                <a th:class="${active=='main.html'?'nav-link active':'nav-link'}" href="#meat">
                    <span data-feather="home"></span>
                    肉类 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='history_bill.html'?'nav-link active':'nav-link'}" href="#notmeat">
                    素菜
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:class="${active=='dishManage.html'?'nav-link active':'nav-link'}" th:href="@{/admin/DishType}">
                    小吃
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='list.html'?'nav-link active':'nav-link'}" th:href="@{/emps}">
                    饮品
                </a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>