#main {
    float: none;
}
#second_sidbar {
    float: left;
}
#none {
    width: 800px;
    float: left;
}
.box {
    height: 2000px;
    width: 780px;
    border-color: pink;
    margin: 0 auto;
    float: none;
}
.box>li {
    width: 150px;
    height: 150px;
    background-color: pink;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    list-style: none;
}
.dish_picture {
    width: 100%;
    height: 70%;
    background-color: #ff3b2b;
}
.dish_name {
    width: 100%;
}