body {
    padding: 0;
}
.top {
    overflow: hidden;
    height: 100px;
}
#user {
    float: right;
}
#user>a {
    text-decoration: none;
}
#user>img {
    width: 50px;
    height: 50px;
}
#tool {
    display:none;
}
#logo {
    float: left;
}
#logo>a>img {
    width: 100px;
}
.line {
    height: 2px;
    width: 100%;
    background-color: dimgrey;
    padding: 2px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;


}

.nav>li {
    font-size: 15px;
    float: left;
}

.nav>li>a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.in {
}
.nav>li>a:hover {
    color:white;
    background-color: gray;
}
#user >a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: black;
    text-shadow: 5px 5px 6px rgba(0,0,0,.3);

}
#user >a:hover {
    text-decoration: none;
    color: #0c7cd5;
}
#show
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#show {
    margin: 15px;
    width: 60%;
}
#show td, #show th
{
    font-size:1em;
    border:1px solid gray;
    padding:3px 7px 2px 7px;
}
#show th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:gray;
    color:#ffffff;
}
#show tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}
a:hover {
    text-decoration: none;
}
#pagenav {
    width: 60%;
    padding: 10px;
    margin: 10px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color:gray;
    color: white;
    border: 1px solid gray;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
.bottom {
    overflow: hidden;
    background-color: whitesmoke;
    color: grey;
}
#friend_link {
    float: left;
    padding: 15px;
    width: 50%;
}
#friend_link>a:link {
    color: grey;
    text-decoration: none;
}
#friend_link>a:visited {
    color: grey;
}
#friend_link>a:hover {
    color: grey;
}
#friend_link>a:active {
    color: grey;
}
#communication {
    float: left;
    padding: 15px;
    width: 50%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}