body {
  margin: 0 auto;
  padding:0;
  font-family: sans-serif;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;
}

 h1 {
  color: lightblue;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"], .box input[type ="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid deepskyblue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color:black;
  border-radius: 12px;
  transition: 0.25s;
}
.box input:focus {
  border-color: #b3d7ff;
  border-width: 3px;
}
.box button {
  display: inline-block;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid deepskyblue;
  padding: 12px 30px;
  outline: none;
  color:black;
  border-radius: 12px;
  transition: 0.25s;
  cursor: pointer;
}
.box button:hover ,a:hover {
  background: #0c7cd5;
}
input {
  max-width: 300px;
  margin: 0 auto;
}
.text-center form{
  padding: 40px;
  align-content: center;
}
a {
  margin: 20px auto;
  text-align: center;
  border: 2px solid deepskyblue;
  padding: 12px 30px;
  outline: none;
  color:black;
  border-radius: 12px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
}
button , a {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: small;
}
