<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/box.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{commons/commons::navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='main.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">菜品维护</h1>
                <div class="btn-toolbar mb-2 mb-md-0" >
                </div>
            </div>
            <div class="sidebar-sticky" th:replace="~{commons/dishCommons::dish_sidebar}" >
            </div>
            <div  style="width: 100%;height: 100%">
                <ul class="box" >
                    <li ><div class="dish_picture">picture1</div><div class ="dish_name">菜名1</div><button>修改</button></li>
                    <li ><div class="dish_picture">picture2</div><div class ="dish_name">菜名2</div><button>修改</button></li>
                    <li ><div class="dish_picture">picture3</div><div class ="dish_name">菜名3</div><button>修改</button></li>
                    <li><div class="dish_picture">picture4</div><div class ="dish_name">菜名4</div><button>修改</button></li>
                </ul>

            </div >
            <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/css/bootstrap.min.css}"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>
</html>
