<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><title>顾客点餐页</title><style>* {
              margin: 0;
              padding: 0;
          }
          body {
              background-color: rgb(243,243,243);
          }</style><link th:href="@{/css/app.cc768abd.css}" rel="preload" as="style"><link th:href="@{/js/app.0025ca22.js}" rel="preload" as="script"><link th:href="@{/js/chunk-vendors.2126ee0b.js}" rel="preload" as="script"><link th:href="@{/css/app.cc768abd.css}" rel="stylesheet"></head><body><noscript><strong>We're sorry but customerorder doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div><script th:src="@{/js/chunk-vendors.2126ee0b.js}"></script><script th:src="@{/js/app.0025ca22.js}"></script></body></html>