<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎光临！</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/order.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid diancan-main">
    <div class="row message">
        <div class="aaatitle">自助点餐</div>
    </div>
    <div class="row main-body">
        <div class="col-md-3 col-sm-3 category-list">
            <ul class="list-group">
                <li class="list-group-item"><a href="#c1">川菜</a></li>
                <li class="list-group-item"><a href="#c2">饮品</a></li>
                <li class="list-group-item"><a href="#c3">小食</a></li>
                <li class="list-group-item"><a href="#c4">主食</a></li>
                <li class="list-group-item"><a href="#c5">啊吧吧</a></li>
                <li class="list-group-item"><a href="#c1">川菜</a></li>
                <li class="list-group-item"><a href="#c2">饮品</a></li>
                <li class="list-group-item"><a href="#c3">小食</a></li>
                <li class="list-group-item"><a href="#c4">主食</a></li>
                <li class="list-group-item"><a href="#c5">啊吧吧</a></li>
                <li class="list-group-item"><a href="#c1">川菜</a></li>
                <li class="list-group-item"><a href="#c2">饮品</a></li>
                <li class="list-group-item"><a href="#c3">小食</a></li>
                <li class="list-group-item"><a href="#c4">主食</a></li>
                <li class="list-group-item"><a href="#c5">啊吧吧</a></li>
                <li class="list-group-item"><a href="#c1">川菜</a></li>
                <li class="list-group-item"><a href="#c2">饮品</a></li>
                <li class="list-group-item"><a href="#c3">小食</a></li>
                <li class="list-group-item"><a href="#c4">主食</a></li>
                <li class="list-group-item"><a href="#c5">啊吧吧</a></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 content">
            <form id="data-form" action="#">
                <ul class="list-group">
                    <h4 id="c1">川菜</h4>
                    <li class="list-group-item">
                        <div class="item-card">
                            <div class="box1">
                                <img src="images/p1.jpg" alt="cai">
                                <div class="instr">
                                    <div class="title">炸鸡</div>
                                    <div class="short-show">炸鸡很香</div>
                                    <div class="other"><span>月售999</span><span>赞99</span></div>
                                    <div class="price">¥999.98</div>
                                    <div class="old-price">¥999.98</div>
                                    <div class="unit">/份</div>
                                </div>
                            </div>
                            <div></div>
                            <div class="choose">
                                <button type="button" class="btn">选择</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="item-card">
                            <div class="box1">
                                <img src="images/p1.jpg" alt="cai">
                                <div class="instr">
                                    <div class="title">炸鸡</div>
                                    <div class="short-show">炸鸡很香</div>
                                    <div class="other"><span>月售999</span><span>赞99</span></div>
                                    <div class="price">¥999.98</div>
                                    <div class="old-price">¥999.98</div>
                                    <div class="unit">/份</div>
                                </div>
                            </div>
                            <div></div>
                            <div class="choose">
                                <button type="button" class="btn">选择</button>
                            </div>
                        </div>
                    </li>
                    <h4 id="c2">饮品</h4>
                    <li class="list-group-item">
                        <div class="item-card">
                            <div class="box1">
                                <img src="images/p1.jpg" alt="cai">
                                <div class="instr">
                                    <div class="title">炸鸡</div>
                                    <div class="short-show">炸鸡很香</div>
                                    <div class="other"><span>月售999</span><span>赞99</span></div>
                                    <div class="price">¥999.98</div>
                                    <div class="old-price">¥999.98</div>
                                    <div class="unit">/份</div>
                                </div>
                            </div>
                            <div></div>
                            <div class="choose">
                                <button type="button" class="btn">选择</button>
                            </div>
                        </div>
                    </li>
                    <h4 id="c3">小食</h4>
                    <li class="list-group-item">
                        <div class="item-card">
                            <div class="box1">
                                <img src="images/p1.jpg" alt="cai">
                                <div class="instr">
                                    <div class="title">炸鸡</div>
                                    <div class="short-show">炸鸡很香</div>
                                    <div class="other"><span>月售999</span><span>赞99</span></div>
                                    <div class="price">¥999.98</div>
                                    <div class="old-price">¥999.98</div>
                                    <div class="unit">/份</div>
                                </div>
                            </div>
                            <div></div>
                            <div class="choose">
                                <button type="button" class="btn">选择</button>
                            </div>
                        </div>
                    </li>
                    <h4 id="c4">主食</h4>
                    <li class="list-group-item">
                        <div class="item-card">
                            <div class="box1">
                                <img src="images/p1.jpg" alt="cai">
                                <div class="instr">
                                    <div class="title">炸鸡</div>
                                    <div class="short-show">炸鸡很香</div>
                                    <div class="other"><span>月售999</span><span>赞99</span></div>
                                    <div class="price">¥999.98</div>
                                    <div class="old-price">¥999.98</div>
                                    <div class="unit">/份</div>
                                </div>
                            </div>
                            <div></div>
                            <div class="choose">
                                <button type="button" class="btn">选择</button>
                            </div>
                        </div>
                    </li>
                    <h4 id="c5">啊吧吧</h4>
                    <li class="list-group-item">
                        <div class="item-card">
                            <div class="box1">
                                <img src="images/p1.jpg" alt="cai">
                                <div class="instr">
                                    <div class="title">炸鸡</div>
                                    <div class="short-show">炸鸡很香</div>
                                    <div class="other"><span>月售999</span><span>赞99</span></div>
                                    <div class="price">¥999.98</div>
                                    <div class="old-price">¥999.98</div>
                                    <div class="unit">/份</div>
                                </div>
                            </div>
                            <div></div>
                            <div class="choose">
                                <button type="button" class="btn" onclick="choose()">选择</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div style="display: none">
                    <input id="333" type="checkbox" name="a" value="1">

                    <input type="checkbox" name="a" value="2">
                    <input type="checkbox" name="b" value="1">
                    <button type="submit"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row pay">
        <div><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></div>
        <div></div>
        <div>
            <div class="price-all">¥999.98</div>
            <button onclick="tijiao()" class="btn jiesuan">结算</button>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    function tijiao() {
        let form = document.getElementById("data-form");
        console.log(form);
        // form.submit();

    }
    function choose() {
        let temp = document.getElementById("333");
        temp.checked = true;
    }
</script>
</body>
</html>