<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">
    <title>登录</title>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
  </head>

  <body class="text-center box" >
    <form class="form-signin" th:action="@{/user/login}">
      <h1>login</h1>
      <input type="text" name="usr" id="inputUsr" class="form-control" th:placeholder="${'用户名'}" required autofocus>
      <input type="password" name="pwd" id="inputPassword" class="form-control" th:placeholder="${'密码'}" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      <a th:href="@{/sign-up.html}">注册</a>
    </form>
  </body>
</html>
